<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <% include partial/header %>
    <h3>Welcome</h3>

    <div>
      <a href=""> <button>Add Income</button></a>
      <a href=""> <button>Add Expense</button></a>
      <a href=""> <button>View All Records</button></a>
    </div>
    <% include partial/footer %>
  </body>
</html>
