<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <% include partial/header %>

    <h1>Welcome to Expense tracker</h1>

    <a href="/auth/github"><button>Login to Github</button></a>

    <a href="/auth/google"><button>Login to Google</button></a>


    

    <% include partial/footer %>
  </body>
</html>
