<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h2>Users success</h2>
    <div>
      <a href="/users/logout"><button>Logout</button></a>
    </div>
  </body>
</html>
