body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: darkslategrey;
}

a {
  color: #00b7ff;
  padding: 0.5rem;
}
.flex-sb {
  display: flex;
  justify-content: space-between;
}
header {
  align-items: center;
  background-color: olive;
  border-radius: 10px;
}
button {
  padding: 0.5rem;
  border-radius: 10px;
  border: none;
}
